Repository DinaEll/waika_project: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, stylelint, lint, prettier

typecheck:
  run: yarn typecheck

stylelint:
  run: yarn stylelint

lint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier -w {staged_files}
  stage_fixed: true

[client][api] add signal
  packages/client/src/shared/api/apiBase.ts
  packages/client/src/shared/api/auth/getUser.ts
Due: typecheck, lint, prettier

[client][config] oauth
  packages/client/src/shared/config/index.ts
  packages/client/src/shared/config/oauthConfig.ts
Due: typecheck, lint, prettier

[client][utils] add error, messages & isDev
  packages/client/src/shared/utils/index.ts
  packages/client/src/shared/utils/isDevelopment.ts
  packages/client/src/shared/utils/isError.ts
  packages/client/src/shared/utils/logError.ts
  packages/client/src/shared/utils/noop.ts
  packages/client/src/shared/utils/showErrorMessage.ts
  packages/client/src/shared/utils/showMessage.ts
  packages/client/src/shared/utils/validationRules.ts
Due: typecheck, lint, prettier

[client] add __CLIENT_PORT__
  packages/client/src/vite-env.d.ts
  packages/client/vite.config.ts
Due: typecheck, lint, prettier

[client][api] add oauth yandex
  packages/client/src/shared/api/index.ts
  packages/client/src/shared/api/oauth/index.ts
  packages/client/src/shared/api/oauth/yandex.ts
  packages/client/src/shared/interfaces/OauthYandex.ts
Due: typecheck, lint, prettier

[client][config] add oauth
  packages/client/src/shared/config/oauthConfig.ts
Due: typecheck, lint, prettier

[client][store] add user selector
  packages/client/src/shared/store/user/user.selector.ts
Due: typecheck, lint, prettier

[client][user] add abort signal
  packages/client/src/shared/store/user/user.action.ts
Due: typecheck, lint, prettier

[client][widgets] add loading, oauth button
  packages/client/src/shared/interfaces/index.ts
  packages/client/src/widgets/ButtonOauthYandex/index.ts
  packages/client/src/widgets/ButtonOauthYandex/ui/ButtonOauthYandex.tsx
  packages/client/src/widgets/CenteredOfPage/index.ts
  packages/client/src/widgets/CenteredOfPage/ui/CenteredOfPage.module.scss
  packages/client/src/widgets/CenteredOfPage/ui/CenteredOfPage.tsx
  packages/client/src/widgets/ErrorBoundary/index.ts
  packages/client/src/widgets/Loading/index.ts
  packages/client/src/widgets/Loading/ui/Loading.tsx
  packages/client/src/widgets/index.ts
Due: typecheck, stylelint, lint, prettier

[client][layout] fix, remove load user
  packages/client/src/widgets/Layout/ui/Layout.module.scss
  packages/client/src/widgets/Layout/ui/Layout.tsx
Due: typecheck, stylelint, lint, prettier

[client][header] remove logOut navigate
  packages/client/src/widgets/Header/ui/Header.tsx
Due: typecheck, lint, prettier

[client][registration] add oauth
  packages/client/src/pages/RegistrationPage/ui/RegistrationPage.tsx
Due: typecheck, lint, prettier

[client][login] add oauth
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
Due: typecheck, lint, prettier

[client][profile] move validationRules
  packages/client/src/pages/ProfilePage/ui/ProfilePage.tsx
Due: typecheck, lint, prettier

feat: добавление проверки защищенных путей на сервере
  packages/client/index.html
  packages/client/src/app/router/model/routes.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/entry-server.utils.ts
  packages/client/src/main.tsx
  packages/client/src/pages/ForumPage/ui/ForumPage.tsx
  packages/client/src/pages/ForumTopicPage/ui/ForumTopicPage.tsx
  packages/client/src/pages/GamePage/ui/GamePage.tsx
  packages/client/src/pages/LeaderboardPage/ui/LeaderboardPage.tsx
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/client/src/pages/NotFoundPage/ui/NotFoundPage.tsx
  packages/client/src/pages/ProfilePage/ui/ProfilePage.tsx
  packages/client/src/pages/RegistrationPage/ui/RegistrationPage.tsx
  packages/client/src/pages/ServerErrorPage/ui/ServerErrorPage.tsx
  packages/client/src/shared/api/auth/getUser.ts
  packages/client/src/shared/hocs/index.ts
  packages/client/src/shared/hocs/withAuth.tsx
  packages/client/src/shared/hooks/usePage.ts
  packages/client/src/shared/store/rootReducer.ts
  packages/client/src/shared/store/ssr/ssr.slice.ts
  packages/client/src/shared/store/user/user.action.ts
  packages/client/src/shared/types/initPageTypes.ts
  packages/client/src/utils/initPageFunctions/initPageBase.ts
  packages/client/src/widgets/Header/ui/Header.tsx
Due: typecheck, lint, prettier

[client]fix fetchUser
  packages/client/src/shared/store/user/user.action.ts
Due: typecheck, lint, prettier

[client][hocs] add with oauth
  packages/client/src/shared/hocs/withOauth.tsx
Due: typecheck, lint, prettier

[client][pages] add navigate to main
  packages/client/src/pages/MainPage/ui/MainPage.tsx
Due: typecheck, lint, prettier

[client][hocs] fix check auth
  packages/client/src/shared/hocs/index.ts
  packages/client/src/shared/hocs/withAuth.tsx
Due: typecheck, lint, prettier

[client][router] add oauth
  packages/client/src/app/router/model/router.tsx
Due: typecheck, lint, prettier

[client] add reason message
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/client/src/pages/RegistrationPage/ui/RegistrationPage.tsx
  packages/client/src/shared/utils/getReasonMessage.ts
  packages/client/src/shared/utils/index.ts
  packages/client/src/shared/utils/showErrorMessage.ts
  packages/client/src/widgets/ButtonOauthYandex/ui/ButtonOauthYandex.tsx
Due: typecheck, lint, prettier

[client] remove useless test
  packages/client/src/app/App.test.tsx
Due: typecheck, lint, prettier

[client][utils] remove noop
  packages/client/src/shared/utils/index.ts
  packages/client/src/shared/utils/noop.ts
Due: typecheck, lint, prettier

fix: исправление ошибок линтера
  packages/client/src/app/App.test.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/main.tsx
  packages/client/src/shared/hooks/usePage.ts
  packages/client/src/utils/initPageFunctions/initPageBase.ts
  packages/server/jest.config.js
Due: typecheck, lint, prettier

WAI-50 - Добавить ещё одно WEB API (кроме Canvas, Fetch)
  packages/client/src/pages/GamePage/ui/Game/Game.tsx
Due: typecheck, lint, prettier

refactor: удаление лишних комментов
  packages/client/server/index.ts
  packages/client/src/pages/ProfilePage/ui/ProfilePage.tsx
  packages/client/src/shared/api/apiBase.ts
  packages/client/src/shared/hooks/usePage.ts
  packages/client/src/shared/store/ssr/ssr.slice.ts
Due: typecheck, lint, prettier

[sever] install @types/node 20.12.2
  packages/server/package.json
  yarn.lock
Due: none

create utils package from client utils
  packages/client/package.json
  packages/utils/.eslintrc.cjs
  packages/utils/index.ts
  packages/utils/jest.config.js
  packages/utils/package.json
  packages/utils/src/index.ts
  packages/utils/src/isDefined.test.ts
  packages/utils/src/isDefined.ts
  packages/utils/src/isDevelopment.ts
  packages/utils/src/isError.ts
  packages/utils/src/isEven.ts
  packages/utils/src/isNull.ts
  packages/utils/src/logError.ts
  packages/utils/tsconfig.json
  yarn.lock
Due: typecheck, lint, prettier

[utils] remove deps
  packages/utils/package.json
Due: none

[server] create dev
  packages/server/__tests__/example.test.ts
  packages/server/db.ts
  packages/server/env.ts
  packages/server/esbuild.prod.ts
  packages/server/index.ts
  packages/server/nodemon.json
  packages/server/package.json
  packages/server/src/createServer.ts
  packages/server/src/index.ts
  packages/server/src/middlewares/error.ts
  packages/server/src/middlewares/index.ts
  packages/server/src/middlewares/logger.ts
  packages/server/src/middlewares/notFound.ts
  packages/server/src/routes/forum.ts
  packages/server/src/routes/index.ts
  packages/server/src/routes/routes.ts
  packages/server/src/runServer.ts
  packages/server/tsconfig.json
Due: typecheck, lint, prettier

[database] create
  packages/database/.eslintrc.cjs
  packages/database/env.ts
  packages/database/index.ts
  packages/database/jest.config.js
  packages/database/package.json
  packages/database/src/connectDatabase.ts
  packages/database/src/createDatabaseClient.ts
  packages/database/src/index.ts
  packages/database/src/models/User.ts
  packages/database/src/models/index.ts
  packages/database/tsconfig.json
Due: typecheck, lint, prettier

[client] replace utils
  packages/client/server/index.ts
  packages/client/src/shared/utils/index.ts
Due: typecheck, lint, prettier

[docker] add postgress
  .env.sample
  .eslintrc.js
  .gitignore
  Dockerfile.server
  docker-compose.yml
  docker/Dockerfile.builder
  docker/Dockerfile.client
  docker/Dockerfile.server
  init.js
  package.json
  yarn.lock
Due: none

fix test
  packages/database/jest.config.js
  packages/utils/jest.config.js
Due: none

[database] add test
  packages/database/src/connectDatabase.test.ts
Due: typecheck, lint, prettier

[server] add test
  packages/server/index.ts
  packages/server/jest.config.js
  packages/server/src/runServer.test.ts
  packages/server/src/runServer.ts
Due: typecheck, lint, prettier

remove init.js
  init.js
  package.json
Due: none

create env
  .env
  .gitignore
Due: none

[server] remove nodemon
  packages/server/package.json
  yarn.lock
Due: none

remove NODE_VERSION from env
  .env
Due: none

Path conditions:
  typecheck: any of: *.{ts,tsx}
  stylelint: any of: **/*.scss
  lint: any of: *.{ts,tsx}
  prettier: any of: *.{ts,tsx,scss}
