Repository DinaEll/waika_project: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, stylelint, lint, prettier

typecheck:
  run: yarn typecheck

stylelint:
  run: yarn stylelint

lint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier -w {staged_files}
  stage_fixed: true

refactor: перенос страниц startup и results в page, связка этапов игры
  packages/client/src/app/router/model/router.tsx
  packages/client/src/pages/GamePage/model/gamePageData.tsx
  packages/client/src/pages/GamePage/ui/Game/Game.module.scss
  packages/client/src/pages/GamePage/ui/Game/Game.tsx
  packages/client/src/pages/GamePage/ui/GamePage.tsx
  packages/client/src/pages/GamePage/ui/GameResult/GameResults.module.scss
  packages/client/src/pages/GamePage/ui/GameResult/GameResults.tsx
  packages/client/src/pages/GamePage/ui/GameStartup/GameStartup.module.scss
  packages/client/src/pages/GamePage/ui/GameStartup/GameStartup.tsx
  packages/client/src/pages/GameResultsPage/index.ts
  packages/client/src/pages/GameResultsPage/ui/GameResultsPage.tsx
  packages/client/src/pages/GameStartupPage/index.ts
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/client/src/pages/RegistrationPage/ui/RegistrationPage.tsx
  packages/client/src/shared/config/routerConfig.ts
  packages/client/src/widgets/Header/ui/Header.tsx
  packages/client/src/widgets/Layout/ui/Layout.tsx
Due: typecheck, stylelint, lint, prettier

WAI-18 добавлена валидация на страницу логина и регистрации
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/client/src/pages/RegistrationPage/ui/RegistrationPage.tsx
  packages/client/src/utils/validationRules.ts
Due: typecheck, lint, prettier

WAI-18 добавлена валидация на страницу пользователя, логина, регистрации
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/client/src/pages/ProfilePage/ui/ProfilePage.tsx
  packages/client/src/pages/RegistrationPage/ui/RegistrationPage.tsx
  packages/client/src/utils/validationRules.ts
Due: typecheck, lint, prettier

WAI-18 правки по комментариям коллег
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/client/src/pages/ProfilePage/ui/ProfilePage.tsx
  packages/client/src/pages/RegistrationPage/ui/RegistrationPage.tsx
  packages/client/src/utils/validationRules.ts
Due: typecheck, lint, prettier

refactor: вынесение логики из этапов игры
  packages/client/src/pages/GamePage/ui/GamePage.tsx
  packages/client/src/pages/GamePage/ui/GameResult/GameResults.tsx
  packages/client/src/pages/GamePage/ui/GameStartup/GameStartup.tsx
Due: typecheck, lint, prettier

WAI-36: добавлен redux toolkit
  packages/client/package.json
  packages/client/src/main.tsx
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/client/src/pages/ProfilePage/ui/AvatarChangeModal/AvatarChangeModal.tsx
  packages/client/src/pages/ProfilePage/ui/ProfilePage.tsx
  packages/client/src/pages/RegistrationPage/ui/RegistrationPage.tsx
  packages/client/src/shared/api/user/changeAvatar.ts
  packages/client/src/shared/store/redux.ts
  packages/client/src/shared/store/rootReducer.ts
  packages/client/src/shared/store/store.ts
  packages/client/src/shared/store/types.ts
  packages/client/src/shared/store/user/user.action.ts
  packages/client/src/shared/store/user/user.slice.ts
  packages/client/src/widgets/Header/ui/Header.tsx
  packages/client/src/widgets/Layout/ui/Layout.tsx
  yarn.lock
Due: typecheck, lint, prettier

WAI-36: исправления для тестов
  packages/client/src/app/App.tsx
  packages/client/src/main.tsx
Due: typecheck, lint, prettier

WAI-34 - Авторизация должна проверяться через отдельно написанный Hook или HOC (на ваш выбор, можно использовать сразу оба)
  packages/client/src/app/router/model/router.tsx
  packages/client/src/shared/hocs/index.ts
  packages/client/src/shared/hocs/withAuth.tsx
  packages/client/src/shared/utils/createProtectedRoute.ts
  packages/client/src/shared/utils/index.ts
Due: typecheck, lint, prettier

WAI-36: добавлен baseUrl для ссылки на аватарку
  packages/client/src/pages/ProfilePage/ui/ProfilePage.tsx
Due: typecheck, lint, prettier

WAI-33: подключен сервис воркер
  packages/client/cacheSW.js
  packages/client/index.html
  packages/client/startSW.js
  packages/client/tsconfig.json
Due: none

WAI-36: поправила название интерфейса
  packages/client/src/shared/store/types.ts
  packages/client/src/shared/store/user/user.slice.ts
Due: typecheck, lint, prettier

WAI-33: доработка сервис воркера
  packages/client/cacheSW.js
  packages/client/tsconfig.json
Due: none

WAI-33: правки линта
  packages/client/cacheSW.js
  packages/client/tsconfig.json
Due: none

WAI-36: использование createAsyncThunk
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/client/src/pages/RegistrationPage/ui/RegistrationPage.tsx
  packages/client/src/shared/store/user/user.action.ts
  packages/client/src/shared/store/user/user.slice.ts
  packages/client/src/widgets/Layout/ui/Layout.tsx
Due: typecheck, lint, prettier

WAI-36: правка типов
  packages/client/src/pages/ProfilePage/ui/ProfilePage.tsx
  packages/client/src/shared/store/user/user.slice.ts
Due: typecheck, lint, prettier

[eslint] add disable type checked for js
  .eslintrc.js
Due: none

WAI-33: перенесла воркеры в отдельную папку
  packages/client/index.html
  packages/client/sw/cacheSW.js
  packages/client/sw/startSW.js
Due: none

[mahjong] rename fn
  packages/client/src/entities/mahjong/model/Mahjong.ts
  packages/client/src/entities/mahjong/model/MahjongHelper.ts
  packages/client/src/entities/mahjong/tests/MahjongHelper.checkAvailablePairs.test.ts
Due: typecheck, lint, prettier

refactor: смена названия LogoWithModal на MainContainer, удаление лишних пропсов
  packages/client/src/pages/ForumPage/ui/ForumPage.tsx
  packages/client/src/pages/ForumTopicPage/ui/ForumTopicPage.tsx
  packages/client/src/pages/GamePage/ui/GameResult/GameResults.tsx
  packages/client/src/pages/GamePage/ui/GameStartup/GameStartup.tsx
  packages/client/src/pages/LeaderboardPage/ui/LeaderboardPage.tsx
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/client/src/pages/NotFoundPage/ui/NotFoundPage.tsx
  packages/client/src/pages/ProfilePage/ui/ProfilePage.tsx
  packages/client/src/pages/RegistrationPage/ui/RegistrationPage.tsx
  packages/client/src/pages/ServerErrorPage/ui/ServerErrorPage.tsx
  packages/client/src/widgets/LogoWithModal/index.ts
  packages/client/src/widgets/MainContainer/index.ts
  packages/client/src/widgets/MainContainer/ui/MainContainer.module.scss
  packages/client/src/widgets/MainContainer/ui/MainContainer.tsx
  packages/client/src/widgets/index.ts
Due: typecheck, stylelint, lint, prettier

fix: удаление sass-loader
  packages/client/package.json
  yarn.lock
Due: none

WAI-33: правки по rtk
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/client/src/pages/ProfilePage/ui/AvatarChangeModal/AvatarChangeModal.tsx
  packages/client/src/pages/ProfilePage/ui/ProfilePage.tsx
  packages/client/src/pages/RegistrationPage/ui/RegistrationPage.tsx
  packages/client/src/shared/store/hooks.ts
  packages/client/src/shared/store/redux.ts
  packages/client/src/shared/store/user/user.slice.ts
  packages/client/src/widgets/Header/ui/Header.tsx
  packages/client/src/widgets/Layout/ui/Layout.tsx
Due: typecheck, lint, prettier

WAI-34 - update up to PR comments
  packages/client/src/app/router/model/router.tsx
  packages/client/src/shared/utils/createProtectedRoute.ts
  packages/client/src/shared/utils/index.ts
  packages/client/src/widgets/Layout/ui/Layout.tsx
Due: typecheck, lint, prettier

refactor: исправление отступов
  packages/client/src/main.tsx
  packages/client/src/pages/ForumTopicPage/ui/ForumTopicPage.tsx
  packages/client/src/pages/LeaderboardPage/ui/LeaderboardPage.module.scss
  packages/client/src/pages/LeaderboardPage/ui/LeaderboardPage.tsx
  packages/client/src/pages/LeaderboardPage/ui/LeaderboardPlayer/LeaderboardPlayer.module.scss
  packages/client/src/pages/LoginPage/ui/LoginPage.module.scss
  packages/client/src/pages/RegistrationPage/ui/RegistrationPage.module.scss
  packages/client/src/shared/assets/themes/vars-colors.scss
  packages/client/src/shared/assets/themes/vars-common.scss
  packages/client/src/widgets/Header/ui/Header.module.scss
  packages/client/src/widgets/MainContainer/ui/MainContainer.module.scss
  packages/client/src/widgets/MainContainer/ui/MainContainer.tsx
Due: typecheck, stylelint, lint, prettier

WAI-37 добавила тесты
  packages/client/src/entities/canvas/model/Canvas.ts
Due: typecheck, lint, prettier

WAI-37 добавила тесты
  package.json
  packages/client/src/entities/canvas/tests/Canvas.test.ts
  packages/client/src/pages/GamePage/ui/GameResult/GameResults.test.tsx
  packages/client/src/pages/GamePage/ui/GameStartup/GameStartup.test.tsx
Due: typecheck, lint, prettier

WAI-37 добавила тесты
  yarn.lock
Due: none

WAI-37 добавила тесты
  packages/client/src/pages/GamePage/ui/GameResult/GameResults.test.tsx
  packages/client/src/pages/GamePage/ui/GameResult/GameResults.tsx
Due: typecheck, lint, prettier

WAI-34 - update up to PR comments
  packages/client/src/app/router/model/router.tsx
  packages/client/src/shared/hocs/withAuth.tsx
  packages/client/src/widgets/Layout/ui/Layout.tsx
Due: typecheck, lint, prettier

WAI-34 - update up to PR comments
  packages/client/src/widgets/Layout/ui/Layout.tsx
Due: typecheck, lint, prettier

правки в сервис воркер
  packages/client/cacheSW.js
  packages/client/index.html
  packages/client/startSW.js
Due: none

remove lib from ignore configs
  .eslintignore
  .gitignore
  .prettierignore
Due: none

revert [eslint] add disable type checked for js
  .eslintrc.js
Due: none

[client] add animate fn
  packages/client/src/shared/lib/animate.ts
  packages/client/src/shared/lib/index.ts
Due: typecheck, lint, prettier

[client][canvas] public x,y in element
  packages/client/src/entities/canvas/model/CanvasElement.ts
Due: typecheck, lint, prettier

[client][canvas] add remove & clear to layer
  packages/client/src/entities/canvas/model/CanvasLayer.ts
Due: typecheck, lint, prettier

[client] add z, animate, remove mahjong helper
  packages/client/src/entities/mahjong/lib/createFieldPattern.test.ts
  packages/client/src/entities/mahjong/lib/createFieldPattern.ts
  packages/client/src/entities/mahjong/lib/createUniqueNumbers.test.ts
  packages/client/src/entities/mahjong/lib/createUniqueNumbers.ts
  packages/client/src/entities/mahjong/lib/fillField.ts
  packages/client/src/entities/mahjong/lib/findAvailableTiles.test.ts
  packages/client/src/entities/mahjong/lib/findAvailableTiles.ts
  packages/client/src/entities/mahjong/lib/findPairs.test.ts
  packages/client/src/entities/mahjong/lib/findPairs.ts
  packages/client/src/entities/mahjong/lib/getAvailablePairs.ts
  packages/client/src/entities/mahjong/lib/getFlattenField.test.ts
  packages/client/src/entities/mahjong/lib/getFlattenField.ts
  packages/client/src/entities/mahjong/lib/getRandomColor.test.ts
  packages/client/src/entities/mahjong/lib/getRandomColor.ts
  packages/client/src/entities/mahjong/lib/index.ts
  packages/client/src/entities/mahjong/lib/shouldFillCell.test.ts
  packages/client/src/entities/mahjong/lib/shouldFillCell.ts
  packages/client/src/entities/mahjong/lib/shufflePairs.test.ts
  packages/client/src/entities/mahjong/lib/shufflePairs.ts
  packages/client/src/entities/mahjong/model/Mahjong.ts
  packages/client/src/entities/mahjong/model/MahjongHelper.ts
  packages/client/src/entities/mahjong/model/Tile.ts
  packages/client/src/entities/mahjong/tests/MahjongHelper.checkAvailablePairs.test.ts
  packages/client/src/entities/mahjong/tests/MahjongHelper.createUniqueRandomArray.test.ts
  packages/client/src/entities/mahjong/tests/MahjongHelper.fillFieldWithPairs.test.ts
  packages/client/src/entities/mahjong/tests/MahjongHelper.findAvalaibleElements.test.ts
  packages/client/src/entities/mahjong/tests/MahjongHelper.generateField.test.ts
  packages/client/src/entities/mahjong/tests/MahjongHelper.shuffleRandomPairs.test.ts
  packages/client/src/entities/mahjong/types.ts
Due: typecheck, lint, prettier

[client][game] add callbacks
  packages/client/src/pages/GamePage/ui/Game/Game.module.scss
  packages/client/src/pages/GamePage/ui/Game/Game.tsx
Due: typecheck, stylelint, lint, prettier

WAI-32
  packages/client/src/entities/mahjong/model/Tile.ts
  packages/client/src/pages/GamePage/ui/Game/Game.tsx
Due: typecheck, lint, prettier

WAI-32
  packages/client/src/entities/mahjong/model/Mahjong.ts
Due: typecheck, lint, prettier

Path conditions:
  typecheck: any of: *.{ts,tsx}
  stylelint: any of: **/*.scss
  lint: any of: *.{ts,tsx}
  prettier: any of: *.{ts,tsx,scss}
