Repository DinaEll/waika_project: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, stylelint, lint, prettier

typecheck:
  run: yarn typecheck

stylelint:
  run: yarn stylelint

lint:
  run: yarn eslint {staged_files}

prettier:
  run: yarn prettier -w {staged_files}
  stage_fixed: true

WAI-32
  packages/client/src/entities/mahjong/model/Tile.ts
Due: typecheck, lint, prettier

WAI-32 - upd
  packages/client/src/entities/mahjong/model/Tile.ts
Due: typecheck, lint, prettier

[client][hooks] add fullscreen
  packages/client/src/shared/hooks/index.ts
  packages/client/src/shared/hooks/useFullscreen.ts
Due: typecheck, lint, prettier

[client][game] add fullscreen button
  packages/client/src/pages/GamePage/ui/Game/Game.tsx
  packages/client/src/pages/GamePage/ui/GameButtonFullscreen/GameButtonFullscreen.tsx
Due: typecheck, lint, prettier

[client][game] fix code style in fullscreen button
  packages/client/src/pages/GamePage/ui/GameButtonFullscreen/GameButtonFullscreen.tsx
Due: typecheck, lint, prettier

[client][hooks] optimize fullscreen hook
  packages/client/src/shared/hooks/useFullscreen.ts
Due: typecheck, lint, prettier

[client][game] fix import type in fullscreen button
  packages/client/src/pages/GamePage/ui/GameButtonFullscreen/GameButtonFullscreen.tsx
Due: typecheck, lint, prettier

Wai 35 / Добавить минимум одно Web API (#30)
  packages/client/src/pages/GamePage/ui/Game/Game.tsx
  packages/client/src/pages/GamePage/ui/GameButtonFullscreen/GameButtonFullscreen.tsx
  packages/client/src/shared/hooks/index.ts
  packages/client/src/shared/hooks/useFullscreen.ts
Due: typecheck, lint, prettier

add tiles to sw cache
  packages/client/cacheSW.js
Due: none

[client][canvas] add images
  packages/client/src/entities/canvas/model/Canvas.ts
Due: typecheck, lint, prettier

[client][mahjong] add tiles to game cache
  packages/client/src/entities/mahjong/model/Mahjong.ts
  packages/client/src/entities/mahjong/model/Tile.ts
Due: typecheck, lint, prettier

[client][layout] remove old nav
  packages/client/src/widgets/Layout/ui/Layout.tsx
Due: typecheck, lint, prettier

[client][mahjong] fix image url
  packages/client/src/entities/mahjong/model/Mahjong.ts
Due: typecheck, lint, prettier

[client][layout] fill page
  packages/client/src/widgets/Layout/ui/Layout.module.scss
  packages/client/src/widgets/Layout/ui/Layout.tsx
Due: typecheck, stylelint, lint, prettier

[client][game] fill page
  packages/client/src/pages/GamePage/ui/Game/Game.module.scss
  packages/client/src/pages/GamePage/ui/Game/Game.tsx
Due: typecheck, stylelint, lint, prettier

[client][mahjong] remove tile size
  packages/client/src/entities/mahjong/model/Mahjong.ts
  packages/client/src/pages/GamePage/ui/Game/Game.tsx
Due: typecheck, lint, prettier

[client][mahjong] center tiles
  packages/client/src/entities/mahjong/model/Mahjong.ts
Due: typecheck, lint, prettier

[client][mahjong] show levels
  packages/client/src/entities/mahjong/model/Mahjong.ts
Due: typecheck, lint, prettier

WAI-34 - fix
  packages/client/src/app/router/model/router.tsx
Due: typecheck, lint, prettier

[client]fix auto merge
  packages/client/src/widgets/Layout/ui/Layout.tsx
Due: typecheck, lint, prettier

refactor: перенос загрузки юзера в withAuth
  packages/client/src/shared/hocs/withAuth.tsx
  packages/client/src/widgets/Layout/ui/Layout.tsx
Due: typecheck, lint, prettier

WAI-64 - Подвинуть плитки по осям
  packages/client/src/entities/mahjong/model/Mahjong.ts
  packages/client/src/entities/mahjong/model/Tile.ts
Due: typecheck, lint, prettier

WAI-42: перенос зависимостей
  package.json
  packages/client/package.json
  yarn.lock
Due: none

WAI-59 тест коммит
  packages/client/src/pages/ProfilePage/ui/ProfilePage.tsx
Due: typecheck, lint, prettier

WAI-59 перевод правил валидации на английский язык
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/client/src/pages/RegistrationPage/ui/RegistrationPage.tsx
Due: typecheck, lint, prettier

WAI-46: добавлен express сервер
  Dockerfile.client
  Dockerfile.server
  package.json
  packages/client/.gitignore
  packages/client/index.html
  packages/client/package.json
  packages/client/server/index.ts
  packages/client/src/entry-server.tsx
  packages/client/tsconfig.json
  packages/client/tsconfig.server.json
  yarn.lock
Due: typecheck, lint, prettier

Update README.md
  docs/README.md
Due: none

Create MEMORYLEAKS.md
  docs/MEMORYLEAKS.md
Due: none

WAI-46: настройка ssr
  Dockerfile.client
  packages/client/.eslintrc.cjs
  packages/client/package.json
  packages/client/server/index.ts
  packages/client/src/entry-server.tsx
  packages/client/src/main.tsx
  packages/client/tsconfig.server.json
  packages/client/vite.config.ts
Due: typecheck, lint, prettier

WAI-46: правки конфигов
  packages/client/tsconfig.json
Due: none

WAI-46: правки для джест конфиг
  packages/client/jest.config.js
Due: none

feat: добавление поддержки redux и router при серверном рендеринге
  packages/client/index.html
  packages/client/server/index.ts
  packages/client/src/app/router/model/router.tsx
  packages/client/src/app/router/model/routes.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/entry-server.utils.ts
  packages/client/src/main.tsx
  packages/client/src/shared/hocs/withAuth.tsx
  packages/client/src/shared/store/store.ts
  packages/client/src/widgets/Layout/ui/Layout.tsx
  packages/client/src/widgets/MainContainer/ui/MainContainer.tsx
  packages/server/package.json
Due: typecheck, lint, prettier

Update MEMORYLEAKS.md
  docs/MEMORYLEAKS.md
Due: none

feat: загрузка стора в ssr
  README.md
  packages/client/package.json
  packages/client/server/index.ts
  packages/client/src/app/router/model/router.tsx
  packages/client/src/app/router/model/routes.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/entry-server.utils.ts
  packages/client/src/pages/ProfilePage/ui/ProfilePage.tsx
  packages/client/src/shared/hooks/usePage.ts
  packages/client/src/shared/store/store.ts
  packages/client/src/shared/store/user/user.action.ts
  packages/client/src/shared/store/user/user.slice.ts
  yarn.lock
Due: typecheck, lint, prettier

refactor: замена модального окна на div в компоненте MainContainer
  packages/client/src/pages/ProfilePage/ui/ProfilePage.tsx
  packages/client/src/widgets/MainContainer/ui/MainContainer.module.scss
  packages/client/src/widgets/MainContainer/ui/MainContainer.tsx
Due: typecheck, stylelint, lint, prettier

fix: обработка редиректа сервером
  packages/client/server/index.ts
  packages/client/src/entry-server.tsx
Due: typecheck, lint, prettier

feat: передача кук в get/user
  packages/client/package.json
  packages/client/server/index.ts
  packages/client/src/app/router/model/routes.tsx
  packages/client/src/entry-server.tsx
  packages/client/src/entry-server.utils.ts
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/client/src/pages/ProfilePage/ui/ProfilePage.tsx
  packages/client/src/pages/RegistrationPage/ui/RegistrationPage.tsx
  packages/client/src/shared/api/apiBase.ts
  packages/client/src/shared/api/auth/getUser.ts
  packages/client/src/shared/hocs/withAuth.tsx
  packages/client/src/shared/hooks/usePage.ts
  packages/client/src/shared/store/user/user.action.ts
  yarn.lock
Due: typecheck, lint, prettier

WAI-46: правки eslint
  packages/client/.eslintrc.cjs
Due: none

[eslint] fix promise void
  .eslintrc.js
Due: none

Path conditions:
  typecheck: any of: *.{ts,tsx}
  stylelint: any of: **/*.scss
  lint: any of: *.{ts,tsx}
  prettier: any of: *.{ts,tsx,scss}
