Repository DinaEll/waika_project: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, stylelint, lint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: yarn typecheck
    stylelint:
      glob: '**/*.scss'
      run: yarn stylelint
    lint:
      glob: '*.{ts,tsx}'
      run: yarn eslint {staged_files}
    prettier:
      glob: '*.{ts,tsx,scss}'
      run: yarn prettier -w {staged_files}
      stage_fixed: true

[docker] create server & client image
  docker-compose.yml
  docker/Dockerfile.builder
  docker/Dockerfile.client
  docker/Dockerfile.server
  package.json
Due: none

add .dockerignore
  .dockerignore
Due: none

move docker-compose to docker & create slice adminer
  docker/docker-compose.adminer.yml
  docker/docker-compose.yml
  package.json
Due: none

[docker] remove client
  docker/docker-compose.yml
Due: none

fix client start
  README.md
  docker/Dockerfile.builder
  docker/Dockerfile.client
  docker/Dockerfile.server
  package.json
  packages/client/cacheSW.js
  packages/client/package.json
  packages/client/src/entry-server.tsx
  packages/client/src/main.tsx
  packages/client/vite.config.ts
  yarn.lock
Due: typecheck, lint, prettier

feat: модели Топики, Комменты, Юзеры
  package.json
  packages/client/.eslintrc.cjs
  packages/client/.gitignore
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/client/tsconfig.json
  packages/client/tsconfig.server.tsbuildinfo
  packages/database/src/createDatabaseClient.ts
  packages/database/src/models/Comment.ts
  packages/database/src/models/Topic.ts
  packages/database/src/models/User.ts
  packages/database/src/models/index.ts
  packages/server/src/controllers/forumController.ts
  packages/server/src/routes/forum.ts
Due: typecheck, lint, prettier

[docker] remove dist from ignore
  .dockerignore
Due: none

[docker] create light faster server client
  docker/Dockerfile.server
  docker/docker-compose.yml
  package.json
  packages/database/src/createDatabaseClient.ts
  packages/server/esbuild.prod.ts
  packages/server/nodemon.json
  packages/server/package.json
  packages/server/scripts/esbuild.config.ts
  packages/server/scripts/esbuild.prod.ts
  packages/server/scripts/esbuild.watch.ts
  packages/server/tsconfig.json
Due: typecheck, lint, prettier

[docker] create nginx
  docker/Dockerfile.nginx
  docker/docker-compose.yml
  docker/nginx/conf.d/default.conf
  docker/nginx/includes/config.conf
  docker/nginx/includes/gzip.conf
Due: none

[client] fix dotenv
  packages/client/server/index.ts
Due: typecheck, lint, prettier

[client] remove nginx
  packages/client/nginx.conf
Due: none

add NODE_VERSION to env
  .env
Due: none

sort scripts
  package.json
Due: none

[docker] fix watch server dist
  docker/Dockerfile.server
Due: none

[docker] create ssr
  docker/Dockerfile.builder
  docker/Dockerfile.ssr
  docker/docker-compose.ssr.yml
  docker/docker-compose.yml
  docker/nginx/conf.d/default.conf
Due: none

[server] fix wipe dist & add start info & fix test
  packages/server/package.json
  packages/server/scripts/esbuild.watch.ts
  packages/server/src/runServer.test.ts
  packages/server/src/runServer.ts
Due: typecheck, lint, prettier

[client] remove duplicate utils
  packages/client/src/shared/utils/isDefined.test.ts
  packages/client/src/shared/utils/isDefined.ts
  packages/client/src/shared/utils/isDevelopment.ts
  packages/client/src/shared/utils/isError.ts
  packages/client/src/shared/utils/isEven.ts
  packages/client/src/shared/utils/isNull.ts
  packages/client/src/shared/utils/logError.ts
Due: typecheck, lint, prettier

[client] fix env
  packages/client/env.ts
  packages/client/jest.config.js
  packages/client/package.json
  packages/client/server/index.ts
  packages/client/src/shared/config/oauthConfig.ts
  packages/client/src/shared/utils/index.ts
  packages/client/src/shared/utils/showErrorMessage.ts
  packages/client/src/vite-env.d.ts
  packages/client/vite.config.ts
Due: typecheck, lint, prettier

[client] fix tsc build server (need bundler)
  packages/client/tsconfig.json
  packages/client/tsconfig.server.json
Due: none

[client] fix build & preview commands
  packages/client/package.json
  packages/client/tsconfig.server.json
Due: none

move preview command
  package.json
Due: none

[README] upd
  README.md
Due: none

feat: модель reply
  package.json
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/database/src/createDatabaseClient.ts
  packages/database/src/models/Comment.ts
  packages/database/src/models/Reply.ts
  packages/database/src/models/index.ts
  packages/server/src/controllers/forumController.ts
  packages/server/src/controllers/userController.ts
  packages/server/src/routes/forum.ts
Due: typecheck, lint, prettier

[client][server] fix wipedist
  packages/client/package.json
  packages/server/package.json
Due: none

feat: создание userController и topicController
  packages/client/package.json
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/database/src/models/Comment.ts
  packages/database/src/models/Reply.ts
  packages/database/src/models/Topic.ts
  packages/database/src/models/User.ts
  packages/server/package.json
  packages/server/src/controllers/topicController.ts
  packages/server/src/controllers/userController.ts
  packages/server/src/middlewares/error.ts
  packages/server/src/routes/forum.ts
Due: typecheck, lint, prettier

feat: создание replyController и commentController
  packages/database/src/models/Comment.ts
  packages/database/src/models/User.ts
  packages/server/src/controllers/commentController.ts
  packages/server/src/controllers/replyController.ts
  packages/server/src/controllers/topicController.ts
  packages/server/src/routes/forum.ts
Due: typecheck, lint, prettier

[client][server] remove rimraf glob
  packages/client/package.json
  packages/server/package.json
Due: none

fix run preview
  package.json
Due: none

README upd
  README.md
Due: none

[client][server] fix rimraf glob
  packages/client/package.json
  packages/server/package.json
Due: none

WAI-57: добавлены таблицы темизации
  packages/database/src/createDatabaseClient.ts
  packages/database/src/models/SiteTheme.ts
  packages/database/src/models/UserTheme.ts
  packages/database/src/models/index.ts
  packages/server/src/controllers/themeController.ts
  packages/server/src/routes/theme.ts
Due: typecheck, lint, prettier

remove app from workspaces
  package.json
Due: none

feat: auth middleware
  packages/client/src/pages/GamePage/ui/GameStartup/GameStartup.tsx
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/server/package.json
  packages/server/src/middlewares/auth.ts
  packages/server/src/routes/forum.ts
  yarn.lock
Due: typecheck, lint, prettier

fix: удаление комментария
  packages/server/src/controllers/commentController.ts
Due: typecheck, lint, prettier

WAI-57: контроллер и сервис для работы с темами
  packages/database/src/models/SiteTheme.ts
  packages/database/src/models/UserTheme.ts
  packages/server/src/controllers/themeController.ts
  packages/server/src/routes/routes.ts
  packages/server/src/routes/theme.ts
  packages/server/src/routes/themes.ts
  packages/server/src/services/index.ts
  packages/server/src/services/themeService.ts
Due: typecheck, lint, prettier

[scripts] add generate cert
  .eslintrc.js
  .gitignore
  package.json
  scripts/generate-cert.ts
Due: typecheck, lint, prettier

[docker] add cert to nginx
  docker/Dockerfile.nginx
  docker/docker-compose.yml
  docker/nginx/conf.d/default.conf
Due: none

WAI-57: правки
  packages/database/src/models/SiteTheme.ts
  packages/database/src/models/User.ts
  packages/database/src/models/UserTheme.ts
  packages/server/src/controllers/themeController.ts
  packages/server/src/services/themeService.ts
Due: typecheck, lint, prettier

WAI-55 - Эмодзи клиентская часть
  packages/client/package.json
  packages/client/src/pages/ForumTopicPage/ui/ForumTopicPage.tsx
  packages/client/src/shared/api/reaction/index.ts
  packages/client/src/shared/api/reaction/reaction.ts
  packages/client/src/shared/assets/svg/emoji-add.svg
  packages/client/src/shared/assets/themes/vars-colors.scss
  packages/client/src/shared/interfaces/Reaction.ts
  packages/client/src/shared/interfaces/index.ts
  packages/client/src/shared/ui/AddReaction/AddReaction.module.scss
  packages/client/src/shared/ui/AddReaction/AddReaction.tsx
  packages/client/src/shared/ui/index.ts
  packages/client/src/widgets/ButtonReaction/index.ts
  packages/client/src/widgets/ButtonReaction/ui/ButtonReaction.module.scss
  packages/client/src/widgets/ButtonReaction/ui/ButtonReaction.tsx
  yarn.lock
Due: typecheck, stylelint, lint, prettier
