Repository DinaEll/waika_project: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, stylelint, lint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: yarn typecheck
    stylelint:
      glob: '**/*.scss'
      run: yarn stylelint
    lint:
      glob: '*.{ts,tsx}'
      run: yarn eslint {staged_files}
    prettier:
      glob: '*.{ts,tsx,scss}'
      run: yarn prettier -w {staged_files}
      stage_fixed: true

fix: добавлены ошибки при запросах к юезру и топику
  packages/client/.gitignore
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/server/package.json
  packages/server/src/controllers/topicController.ts
  packages/server/src/controllers/userController.ts
Due: typecheck, lint, prettier

WAI-55 - Эмодзи клиентская часть - update
  packages/client/src/pages/ForumTopicPage/model/forumTopicData.ts
  packages/client/src/pages/ForumTopicPage/ui/ForumTopicPage.tsx
  packages/client/src/shared/api/reaction/index.ts
  packages/client/src/shared/api/reaction/reaction.ts
  packages/client/src/shared/enums/TopicField.enum.ts
  packages/client/src/shared/interfaces/Reaction.ts
  packages/client/src/shared/ui/AddReaction/AddReaction.tsx
  packages/client/src/shared/ui/index.ts
  packages/client/src/widgets/ButtonReaction/ui/ButtonReaction.module.scss
  packages/client/src/widgets/ButtonReaction/ui/ButtonReaction.tsx
Due: typecheck, stylelint, lint, prettier

WAI-55 - Эмодзи клиентская часть - minor fix
  packages/client/src/widgets/ButtonReaction/ui/ButtonReaction.tsx
Due: typecheck, lint, prettier

remove http proxy
  yarn.lock
Due: none

add video link
  README.md
Due: none

[readme] add task links
  README.md
Due: none

[client] remove tsbuild info
  packages/client/tsconfig.server.tsbuildinfo
Due: none

[client][mahjong] fix path to tiles
  packages/client/src/entities/mahjong/model/Mahjong.ts
  packages/client/src/entities/mahjong/model/tilesSvgMap.ts
  packages/client/src/shared/assets/game-tiles/index.ts
Due: typecheck, lint, prettier

refactor: получение комментов и ответов при запросе топика
  packages/server/src/controllers/topicController.ts
Due: typecheck, lint, prettier

refactor: удаление appConfig.baseUrl из baseRequest
  packages/client/src/shared/api/apiBase.ts
  packages/client/src/shared/api/auth/getUser.ts
  packages/client/src/shared/api/auth/logOut.ts
  packages/client/src/shared/api/auth/userSignIn.ts
  packages/client/src/shared/api/auth/userSignUp.ts
  packages/client/src/shared/api/oauth/yandex.ts
  packages/client/src/shared/api/reaction/reaction.ts
  packages/client/src/shared/api/user/changeAvatar.ts
  packages/client/src/shared/api/user/changePassword.ts
Due: typecheck, lint, prettier

feat: получение топиков из базы на клиенте
  packages/client/src/pages/ForumPage/model/forumData.ts
  packages/client/src/pages/ForumPage/ui/ForumPage.tsx
  packages/client/src/pages/ForumPage/ui/ForumTopicsList/ForumTopicsList.tsx
  packages/client/src/shared/api/forum/getAllTopics.ts
  packages/client/src/shared/interfaces/ForumResponse.ts
  packages/server/src/controllers/topicController.ts
Due: typecheck, lint, prettier

[api] add alias package
  packages/api/.eslintrc.cjs
  packages/api/env.ts
  packages/api/index.ts
  packages/api/jest.config.js
  packages/api/package.json
  packages/api/scripts/esbuild.config.ts
  packages/api/scripts/esbuild.prod.ts
  packages/api/scripts/esbuild.watch.ts
  packages/api/src/index.ts
  packages/api/src/runServer.test.ts
  packages/api/src/runServer.ts
  packages/api/tsconfig.json
Due: typecheck, lint, prettier

[utils] remove isDevelopment, add isObject
  packages/utils/src/index.ts
  packages/utils/src/isDevelopment.ts
  packages/utils/src/isObject.ts
Due: typecheck, lint, prettier

[server] move exec to api
  packages/server/env.ts
  packages/server/index.ts
  packages/server/package.json
  packages/server/scripts/esbuild.config.ts
  packages/server/scripts/esbuild.prod.ts
  packages/server/scripts/esbuild.watch.ts
  packages/server/src/createServer.ts
  packages/server/src/index.ts
  packages/server/src/runServer.test.ts
  packages/server/src/runServer.ts
  packages/server/tsconfig.json
Due: typecheck, lint, prettier

[database] add interface
  packages/database/env.ts
  packages/database/package.json
  packages/database/src/connectDatabase.ts
  packages/database/src/createDatabaseClient.ts
Due: typecheck, lint, prettier

[api] remove dotenv
  packages/api/env.ts
Due: typecheck, lint, prettier

[ssr] move ssr client to package
  packages/ssr/.eslintrc.cjs
  packages/ssr/env.ts
  packages/ssr/jest.config.js
  packages/ssr/package.json
  packages/ssr/scripts/esbuild.config.ts
  packages/ssr/scripts/esbuild.prod.ts
  packages/ssr/src/createDevServer.ts
  packages/ssr/src/createProdServer.ts
  packages/ssr/src/getRoutes.ts
  packages/ssr/src/types.ts
  packages/ssr/ssrDev.ts
  packages/ssr/ssrProd.ts
  packages/ssr/tsconfig.json
Due: typecheck, lint, prettier

[docker] renave server to api
  docker/Dockerfile.api
  docker/Dockerfile.builder
  docker/docker-compose.yml
Due: none

env SERVER_PORT to API_PORT
  .env
Due: none

remove server from client
  package.json
  packages/client/env.ts
  packages/client/package.json
  packages/client/server/index.ts
  packages/client/src/entry-server.tsx
  packages/client/tsconfig.server.json
  packages/client/vite.config.ssr.ts
  packages/server/index.ts
  yarn.lock
Due: typecheck, lint, prettier

fix types
  packages/api/tsconfig.json
  packages/client/tsconfig.json
  packages/database/src/connectDatabase.test.ts
  packages/server/tsconfig.json
Due: typecheck, lint, prettier

[ssr][server] fix test
  packages/api/index.ts
  packages/api/src/runServer.ts
  packages/client/jest.config.js
  packages/server/package.json
  packages/ssr/package.json
Due: typecheck, lint, prettier

[server] remove default logger
  packages/server/src/createServer.ts
Due: typecheck, lint, prettier

fix env
  package.json
Due: none

[docker] add ssr
  docker/Dockerfile.ssr
  docker/docker-compose.yml
Due: none

[ssr] fix build prod
  packages/ssr/scripts/esbuild.config.ts
  packages/ssr/src/createProdServer.ts
  packages/ssr/src/getRoutes.ts
Due: typecheck, lint, prettier

[client] change buld paths
  packages/client/package.json
  packages/client/vite.config.ssr.ts
  packages/client/vite.config.ts
Due: typecheck, lint, prettier

[client] add ssr server
  package.json
  packages/client/package.json
  packages/client/server/createDevServer.ts
  packages/client/server/createProdServer.ts
  packages/client/server/esbuild.prod.ts
  packages/client/server/startDevServer.ts
  packages/client/server/startProdServer.ts
  packages/client/server/tsconfig.json
  packages/client/server/types.ts
  packages/client/vite.config.ssr.ts
Due: typecheck, lint, prettier

remove ssr
  docker/Dockerfile.client
  docker/docker-compose.yml
  packages/ssr/.eslintrc.cjs
  packages/ssr/env.ts
  packages/ssr/jest.config.js
  packages/ssr/package.json
  packages/ssr/scripts/esbuild.config.ts
  packages/ssr/scripts/esbuild.prod.ts
  packages/ssr/src/createDevServer.ts
  packages/ssr/src/createProdServer.ts
  packages/ssr/src/types.ts
  packages/ssr/ssrDev.ts
  packages/ssr/ssrProd.ts
  packages/ssr/tsconfig.json
Due: typecheck, lint, prettier

[server] set useLogger to false
  packages/server/src/createServer.ts
Due: typecheck, lint, prettier

[api] rename runServer
  packages/api/index.ts
  packages/api/src/index.ts
  packages/api/src/startApiServer.test.ts
  packages/api/src/startApiServer.ts
Due: typecheck, lint, prettier

[client] add favicon
  packages/client/index.html
  packages/client/public/favicon/apple-touch-icon.png
  packages/client/public/favicon/favicon-96x96.png
  packages/client/public/favicon/favicon.ico
  packages/client/public/favicon/favicon.svg
  packages/client/public/favicon/web-app-manifest-192x192.png
  packages/client/public/favicon/web-app-manifest-512x512.png
  packages/client/public/site.webmanifest
  packages/client/public/vite.svg
Due: none

[docker] fix paths
  docker/Dockerfile.api
  docker/Dockerfile.client
  docker/docker-compose.yml
Due: none

[docker] add proxy
  docker/docker-compose.yml
  docker/nginx/templates/default.conf.template
Due: none

[client] add robots.txt
  packages/client/public/robots.txt
Due: none

[docker] add proxy cache
  docker/docker-compose.ssr.yml
  docker/docker-compose.yml
  docker/nginx/includes/assets.conf
  docker/nginx/includes/config.conf
  docker/nginx/includes/listen.conf
  docker/nginx/templates/default.conf.template
  packages/client/index.html
Due: none

[client][sw] move to public
  packages/client/public/cacheSW.js
Due: none

[client][server] remove console
  packages/client/server/createProdServer.ts
Due: typecheck, lint, prettier

[readme] remove sprint info
  README.md
Due: none
