Repository DinaEll/waika_project: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, stylelint, lint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    typecheck:
      glob: '*.{ts,tsx}'
      run: yarn typecheck
    stylelint:
      glob: '**/*.scss'
      run: yarn stylelint
    lint:
      glob: '*.{ts,tsx}'
      run: yarn eslint {staged_files}
    prettier:
      glob: '*.{ts,tsx,scss}'
      run: yarn prettier -w {staged_files}
      stage_fixed: true

simple dev mode
  docker/docker-compose.prod.yml
  docker/docker-compose.yml
  packages/api/package.json
  yarn.lock
Due: none

[docker] add prod
  package.json
Due: none

[client] uncomment SW
  packages/client/index.html
Due: none

remove generate serts
  package.json
  packages/api/scripts/esbuild.watch.ts
  scripts/generate-cert.ts
Due: typecheck, lint, prettier

[api] simple build server
  packages/api/scripts/esbuild.config.ts
  packages/api/scripts/esbuild.prod.ts
Due: typecheck, lint, prettier

[client] fix test
  packages/client/jest.config.js
Due: none

fix preview run
  package.json
Due: none

[docker] fix prod
  docker/docker-compose.prod.yml
  package.json
Due: none

[github] add build push action
  .github/workflows/build-and-push.yaml
Due: none

[github] add deps
  .github/workflows/build-and-push.yaml
Due: none

[github] fix paths
  .github/workflows/build-and-push.yaml
  docker/Dockerfile.api
  docker/Dockerfile.client
Due: none

[github] add build
  .github/workflows/build-and-push.yaml
Due: none

bump express to 4.21.1
  packages/server/package.json
  yarn.lock
Due: none

[api] add practicum proxy
  .env
  packages/api/env.ts
  packages/api/package.json
  packages/api/src/middlewares/index.ts
  packages/api/src/middlewares/yandexProxy.ts
  packages/api/src/startApiServer.ts
Due: typecheck, lint, prettier

[client] fix env
  packages/client/env.ts
  packages/client/index.html
  packages/client/src/pages/ProfilePage/ui/ProfilePage.tsx
  packages/client/src/shared/api/apiBase.ts
  packages/client/src/shared/config/appConfig.ts
  packages/client/src/shared/config/index.ts
  packages/client/src/shared/ui/Logo/Logo.tsx
  packages/client/src/vite-env.d.ts
  packages/client/vite.config.ssr.ts
  packages/client/vite.config.ts
Due: typecheck, lint, prettier

[server] add cors options
  packages/server/src/createServer.ts
Due: typecheck, lint, prettier

[client] remove auth crutch
  packages/client/src/shared/hocs/withAuth.tsx
Due: typecheck, lint, prettier

feat: получение данных топика
  packages/client/src/pages/ForumPage/ui/ForumTopicsList/ForumTopicsList.tsx
  packages/client/src/pages/ForumPage/ui/ForumsList/ForumsList.tsx
  packages/client/src/pages/ForumTopicPage/ui/ForumTopicPage.tsx
  packages/client/src/shared/api/forum/getTopic.ts
  packages/client/src/shared/interfaces/ForumResponse.ts
  packages/database/src/connectDatabase.ts
  packages/server/src/controllers/topicController.ts
  yarn.lock
Due: typecheck, lint, prettier

feat: добавление юзера в базу при логине или регистрации
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/client/src/pages/RegistrationPage/ui/RegistrationPage.tsx
  packages/client/src/shared/api/user/addUserToDb.ts
  packages/client/src/shared/api/user/getUserFromDb.ts
  packages/database/src/models/User.ts
  packages/server/src/controllers/userController.ts
Due: typecheck, lint, prettier

feat: вывод данных топика
  packages/client/src/pages/ForumPage/ui/CreateNewThreadForm/CreateNewThreadForm.tsx
  packages/client/src/pages/ForumPage/ui/ForumTopicsList/ForumTopicsList.tsx
  packages/client/src/pages/ForumTopicPage/ui/ForumTopicPage.tsx
  packages/client/src/shared/api/forum/createTopic.ts
  packages/client/src/shared/interfaces/ForumResponse.ts
  packages/database/src/models/Topic.ts
  packages/server/src/controllers/topicController.ts
Due: typecheck, lint, prettier

feat: добавление комментов, ответов, обновление количества просмотров топика
  packages/client/src/pages/ForumPage/ui/ForumTopicsList/ForumTopicsList.tsx
  packages/client/src/pages/ForumTopicPage/model/forumTopicData.ts
  packages/client/src/pages/ForumTopicPage/ui/ForumTopicPage.tsx
  packages/client/src/shared/api/forum/createComment.ts
  packages/client/src/shared/api/forum/createReply.ts
  packages/client/src/shared/api/forum/incrementViews.ts
  packages/client/src/shared/interfaces/ForumResponse.ts
  packages/client/src/shared/ui/ReplyForm/ReplyForm.module.scss
  packages/client/src/shared/ui/ReplyForm/ReplyForm.tsx
  packages/client/src/widgets/Layout/ui/Layout.module.scss
  packages/client/src/widgets/MainContainer/ui/MainContainer.module.scss
  packages/server/src/controllers/topicController.ts
  packages/server/src/routes/forum.ts
Due: typecheck, stylelint, lint, prettier

fix: ошибки линтера
  packages/database/src/connectDatabase.ts
Due: typecheck, lint, prettier

Wai 73 / Реализовать проверку авторизации на бекэнде (#53)
  .env
  packages/api/env.ts
  packages/api/package.json
  packages/api/src/middlewares/index.ts
  packages/api/src/middlewares/yandexProxy.ts
  packages/api/src/startApiServer.ts
  packages/client/env.ts
  packages/client/index.html
  packages/client/jest.config.js
  packages/client/src/pages/ProfilePage/ui/ProfilePage.tsx
  packages/client/src/shared/api/apiBase.ts
  packages/client/src/shared/config/appConfig.ts
  packages/client/src/shared/config/index.ts
  packages/client/src/shared/hocs/withAuth.tsx
  packages/client/src/shared/ui/Logo/Logo.tsx
  packages/client/src/vite-env.d.ts
  packages/client/vite.config.ssr.ts
  packages/client/vite.config.ts
  packages/server/package.json
  packages/server/src/createServer.ts
  yarn.lock
Due: typecheck, lint, prettier

Wai 69 / Написать конфиг nginx (HTTP2, SSL) (#50)
  package.json
  packages/server/src/createServer.ts
  scripts/generate-cert.ts
Due: typecheck, lint, prettier

[github] remove self branch
  .github/workflows/build-and-push.yaml
Due: none

Wai 72 / Настроить Action для автодеплоя (#52)
  .github/workflows/build-and-push.yaml
  packages/server/src/createServer.ts
Due: typecheck, lint, prettier

refactor: удаление лишнего
  packages/client/src/pages/ForumPage/model/forumData.ts
  packages/client/src/pages/ForumTopicPage/model/forumTopicData.ts
  yarn.lock
Due: typecheck, lint, prettier

[github] fix hook
  .github/workflows/build-and-push.yaml
Due: none

fix: merge errors
  packages/client/env.ts
  packages/client/src/pages/ForumTopicPage/ui/ForumTopicPage.tsx
  packages/client/src/pages/ProfilePage/ui/ProfilePage.tsx
  packages/client/src/shared/api/auth/getUser.ts
  packages/client/src/shared/api/auth/logOut.ts
  packages/client/src/shared/api/auth/userSignIn.ts
  packages/client/src/shared/api/auth/userSignUp.ts
  packages/client/src/shared/api/forum/createComment.ts
  packages/client/src/shared/api/forum/createReply.ts
  packages/client/src/shared/api/forum/createTopic.ts
  packages/client/src/shared/api/forum/getAllTopics.ts
  packages/client/src/shared/api/forum/getTopic.ts
  packages/client/src/shared/api/forum/incrementViews.ts
  packages/client/src/shared/api/oauth/yandex.ts
  packages/client/src/shared/api/reaction/reaction.ts
  packages/client/src/shared/api/user/addUserToDb.ts
  packages/client/src/shared/api/user/changeAvatar.ts
  packages/client/src/shared/api/user/changePassword.ts
  packages/client/src/shared/api/user/getUserFromDb.ts
  packages/client/src/vite-env.d.ts
  packages/client/vite.config.ssr.ts
  packages/client/vite.config.ts
Due: typecheck, lint, prettier

WAI-56 - Эмодзи backend init
  packages/database/src/createDatabaseClient.ts
  packages/database/src/models/Comment.ts
  packages/database/src/models/Reaction.ts
  packages/database/src/models/User.ts
  packages/database/src/models/index.ts
  packages/server/src/controllers/reactionController.ts
Due: typecheck, lint, prettier

[client] remove API_PRACTICUM_URL
  packages/client/env.ts
  packages/client/src/pages/ForumTopicPage/ui/ForumTopicPage.tsx
  packages/client/src/pages/ProfilePage/ui/ProfilePage.tsx
  packages/client/src/shared/api/apiBase.ts
  packages/client/src/shared/api/auth/getUser.ts
  packages/client/src/shared/api/auth/logOut.ts
  packages/client/src/shared/api/auth/userSignIn.ts
  packages/client/src/shared/api/auth/userSignUp.ts
  packages/client/src/shared/api/forum/createComment.ts
  packages/client/src/shared/api/forum/createReply.ts
  packages/client/src/shared/api/forum/createTopic.ts
  packages/client/src/shared/api/forum/getAllTopics.ts
  packages/client/src/shared/api/forum/getTopic.ts
  packages/client/src/shared/api/forum/incrementViews.ts
  packages/client/src/shared/api/oauth/yandex.ts
  packages/client/src/shared/api/reaction/reaction.ts
  packages/client/src/shared/api/user/addUserToDb.ts
  packages/client/src/shared/api/user/changeAvatar.ts
  packages/client/src/shared/api/user/changePassword.ts
  packages/client/src/shared/api/user/getUserFromDb.ts
  packages/client/src/vite-env.d.ts
  packages/client/vite.config.ssr.ts
  packages/client/vite.config.ts
Due: typecheck, lint, prettier

[docker] add arg
  docker/Dockerfile.api
  docker/Dockerfile.client
Due: none

remove env from docker prod
  package.json
Due: none

Add forum
  packages/client/src/pages/ForumPage/model/forumData.ts
  packages/client/src/pages/ForumPage/ui/CreateNewThreadForm/CreateNewThreadForm.tsx
  packages/client/src/pages/ForumPage/ui/ForumPage.tsx
  packages/client/src/pages/ForumPage/ui/ForumTopicsList/ForumTopicsList.tsx
  packages/client/src/pages/ForumPage/ui/ForumsList/ForumsList.tsx
  packages/client/src/pages/ForumTopicPage/model/forumTopicData.ts
  packages/client/src/pages/ForumTopicPage/ui/ForumTopicPage.tsx
  packages/client/src/pages/LoginPage/ui/LoginPage.tsx
  packages/client/src/pages/RegistrationPage/ui/RegistrationPage.tsx
  packages/client/src/shared/api/apiBase.ts
  packages/client/src/shared/api/auth/userSignUp.ts
  packages/client/src/shared/api/forum/createComment.ts
  packages/client/src/shared/api/forum/createReply.ts
  packages/client/src/shared/api/forum/createTopic.ts
  packages/client/src/shared/api/forum/getAllTopics.ts
  packages/client/src/shared/api/forum/getTopic.ts
  packages/client/src/shared/api/forum/incrementViews.ts
  packages/client/src/shared/api/oauth/yandex.ts
  packages/client/src/shared/api/reaction/reaction.ts
  packages/client/src/shared/api/user/addUserToDb.ts
  packages/client/src/shared/api/user/changePassword.ts
  packages/client/src/shared/api/user/getUserFromDb.ts
  packages/client/src/shared/interfaces/ForumResponse.ts
  packages/client/src/shared/ui/ReplyForm/ReplyForm.module.scss
  packages/client/src/shared/ui/ReplyForm/ReplyForm.tsx
  packages/client/src/widgets/Layout/ui/Layout.module.scss
  packages/client/src/widgets/MainContainer/ui/MainContainer.module.scss
  packages/database/src/models/Topic.ts
  packages/database/src/models/User.ts
  packages/server/src/controllers/topicController.ts
  packages/server/src/controllers/userController.ts
  packages/server/src/routes/forum.ts
Due: typecheck, stylelint, lint, prettier

[env] test with ip
  .env
  packages/api/src/startApiServer.ts
Due: typecheck, lint, prettier
